services:
  rabbimtmq:
    container_name: rabbitmq
    image: rabbitmq:3.11.26-management
    ports:
     - 5672:5672
     - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
